header {
  background-color: #038f70;
}

#logo {
  padding-left: 2%;
}

body {
  margin: 0;
  padding: 0;
}

.banner {
  width: 100%;
  position: relative;
  background-color: black;
}

.banner video {
  object-fit: cover;
  width: 100%;
  filter: opacity(55%);
}

.banner .content {
  position: absolute;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); 
}

.banner .content h1 {
  margin: 0;
  padding: 0;
  font-size: 5.5em;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  color: #ffff;
  position: relative;
}

.banner .content p {
  font-size: 1.5em;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffff;
  position: relative;
}

.button1 {
  position: relative;
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 2%;
  border-radius: 15%;
  border: 2px solid #038f70;
  background-color: #038f70;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button1:hover {
  background-color: white; 
  color: #038f70;
}

.intro{
  padding-left: 20%;
  display: flex;
}

.intro1{
  width: 90%;
}

.intro img{
  width: 40%;
  display: flex;
  height: auto;
  padding-top: 5%;
}

.intro h1{
  color: #038f70;
  font-family: "Playfair Display", "serif";
  text-align: center;
}

.intro p{
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.acomodacoes{
  padding-left: 8%;
  padding-right: 8%;
}

.acomodacoes h1{
  font-family: "Playfair Display", "serif";
  font-size: 250%;
  text-align: center;
  margin-top: 4%;
  text-transform: uppercase;
  color: #038f70;
  border-style: solid;
  border-color: #038f70;
}

.galeria {
  margin: 5px;
  border: 1px solid #ccc;
  width: 22%;
  background-color: #038f70;
  color: white;
  display: inline-flex;
}

.galeria:hover {
  border: 1px solid #777;
}

.galeria img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}

.ofertas h1{
  text-align: center;
  font-family: "Playfair Display", "serif";
  font-size: 250%;
  text-align: center;
  margin-top: 4%;
  text-transform: uppercase;
  color: #038f70;
}

.oferta1 img{
  width: 20%;
  padding-top: 2%;
  padding-left: 30%;
}

.feedbacks h1{
  text-align: center;
}

footer{
  background-color: #032B22;
  color: white;
  font-family: "Nanum Gothic", sans-serif;
  margin: 0;
  padding-top: 2%;
}

footer h1{
  color: #40FFB5;
  font-family: "Playfair Display", serif;
  font-size: 7em;
  text-transform: uppercase;
  text-align: right;
  padding-right: 1%;
  padding-top: 0;
}

footer p, h2{
  text-align: center;
  line-height: 150%;
  padding-left: 0;
}