header {
  background-color: #038f70;
}

#logo {
  padding-left: 2%;
}

body {
  margin: 0;
  padding: 0;
}

.banner {
  width: 100%;
  position: relative;
  background-color: black;
}

.banner video {
  object-fit: cover;
  width: 100%;
  filter: opacity(55%);
}

.banner .content {
  position: absolute;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); 
}

.banner .content h1 {
  margin: 0;
  padding: 0;
  font-size: 5.5em;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  color: #ffff;
  position: relative;
}

.banner .content p {
  font-size: 1.5em;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffff;
  position: relative;
}

.button1 {
  position: relative;
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 2%;
  border-radius: 15%;
  border: 2px solid #038f70;
  background-color: #038f70;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button1:hover {
  background-color: white; 
  color: #038f70;
}

.intro{
  padding-left: 20%;
  display: flex;
  text-align: center;
}

.intro1{
  width: 90%;
}

.intro img{
  width: 40%;
  display: flex;
  height: auto;
  padding-top: 5%;
}

.intro h1{
  color: #038f70;
  font-family: "Playfair Display", "serif";
  text-align: center;
  padding-top: 5%;
}

.intro p{
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.acomodacoes{
  padding-left: 8%;
  padding-right: 8%;
  text-align: center;
}

.acomodacoes h1{
  font-family: "Playfair Display", "serif";
  font-size: 250%;
  text-align: center;
  margin-top: 4%;
  text-transform: uppercase;
  color: #038f70;
  border-style: solid;
  border-color: #038f70;
}

.acomodacoes h1:hover{
  background-color: #038f70; 
  color: white;
}

.galeria {
  margin: 5px;
  border: 1px solid #ccc;
  width: 22%;
  background-color: #038f70;
  color: white;
  display: inline-flex;
}

.galeria:hover {
  border: 1px solid #777;
}

.galeria img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}

.ofertas{
  text-align: center;
  padding-left: 8%;
  padding-right: 8%;
}

.ofertas img{
  width: 28%;
}

.ofertas h1{
  text-align: center;
  font-family: "Playfair Display", "serif";
  font-size: 250%;
  margin-top: 4%;
  text-transform: uppercase;
  color: #038f70;
  border-style: solid;
  border-color: #038f70;
}

.ofertas h1:hover{
  background-color: #038f70; 
  color: white;
}

.ofertas h2{
  font-family: "Playfair Display", "serif";
  text-align: center;
  font-size: 220%;
  color: #038f70;
  margin-top: 0;
}

.ofertas p{
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.texto1{
  padding-top: 3%;
  padding-bottom: 3%;
  column-count: 3;
  column-gap: 5%;
  column-rule-style: solid;
  column-rule-color: #038f70;
}

.button2 {
  font-family: "Roboto", sans-serif;
  color: white;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 10%;
  border: 2px solid #038f70;
  background-color: #038f70;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
  background-color: white; 
  color: #038f70;
}

.feedbacks{
  padding-left: 8%;
  padding-right: 8%;
}

.feedbacks h1{
  text-align: center;
  font-family: "Playfair Display", "serif";
  font-size: 250%;
  margin-top: 3%;
  text-transform: uppercase;
  color: #038f70;
  border-style: solid;
  border-color: #038f70;
}

.feedbacks h2{
  color: #038f70;
  font-family: "Playfair Display", "serif";
}

.feedbacks p{
  margin-top: 0;
  font-family: "Roboto", sans-serif;
}

.texto2{
  padding-top: 3%;
  padding-bottom: 3%;
  column-count: 3;
  column-gap: 5%;
  text-align: center;
}

footer{
  background-color: #032B22;
  color: white;
  font-family: "Nanum Gothic", sans-serif;
  margin: 0;
  padding-top: 2%;
}

footer h1{
  color: #40FFB5;
  font-family: "Playfair Display", serif;
  font-size: 7em;
  text-transform: uppercase;
  text-align: right;
  padding-right: 1%;
  padding-top: 0;
}

footer p, h2{
  text-align: center;
  line-height: 150%;
  padding-left: 0;
}


/* Media Queries para Telemóvel, por exemplo */
@media (max-width: 768px) {
  
  .banner .content h1 {
    font-size: 2.0em;
  }
  
  .banner .content p {
    font-size: 0.5em;
  }

  .intro{
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
  }

  .intro img{
    display: none;
  }

  .button1 {
    display: none;
  }

  footer h1{
    font-size: 3em;
  }

  .acomodacoes h1{
    font-size: 170%;
    color: white;
    background-color: #038f70;
  }
  
  .acomodacoes h1:hover{
    background-color: white; 
    color: #038f70;
  }
  
  .galeria{
    width: 44%;
  }

  .desc{
    display: none;
  }

  .ofertas h1{
    font-size: 170%;
    color: white;
    background-color: #038f70;
  }
  
  .ofertas h1:hover{
    background-color: white; 
    color: #038f70;
  }
  
  .ofertas h2{
    font-size: 150%;
    color: #038f70;
    margin-top: 0;
  }
  
  .ofertas p{
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 100%;
  }

  .texto1{
    padding-top: 3%;
    padding-bottom: 3%;
    column-count: 1;
  }
  
  .feedbacks{
    padding-left: 8%;
    padding-right: 8%;
  }
  
  .feedbacks h1{
    font-size: 170%;
    margin-top: 5%;
    color: white;
    background-color: #038f70;
  }

  .feedbacks h1:hover{
    background-color: white; 
    color: #038f70;
  }
  
  .feedbacks p{
    font-style: italic;
  }
  
  .texto2{
    column-count: 1;
  }
}
