header {
    background-color: #038f70;
}

#logo {
  padding-left: 2%;
}

body {
    margin: 0;
    padding: 0;
  }

.banner {
    width: 100%;
    position: relative;
  }

  .banner video {
    object-fit: cover;
    width: 100%;
  }

  .banner .content {
    position: absolute;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .banner .content h1 {
    margin: 0;
    padding: 0;
    font-size: 5.5em;
    text-transform: uppercase;
    color: #ffff;
    position: relative;
  }

  .banner .content p {
    font-size: 1.5em;
    color: #ffff;
    position: relative;
  }

  .button1 {
    position: relative;
  }